{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center min-vh-100 my-5">
    <div style="max-width: 400px;" class="login-card col-lg-4 col-md-6 col-sm-10">
            <div class=" login-form">
                <div class="text-center mb-4">
                    <h3 class="heading fw-bold">{{heading}}</h3>
                    <hr class="my-4">
                </div>
                
               <div>
                    {{render_form(form)}}
               </div>
               
            </div>

    </div>
</div>


{% endblock content %}



