{% extends "layout.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}

<div style="background-color: whitesmoke;" class="container mt-5 py-3 px-5">
    <h2 class="text-center bg-light my-3">{{heading}}</h2>
    {% if sessions %}
    <div style="width: 400px;" class="py-3">
        {{render_form(form)}}
    </div>
    <hr class="py-3">

    
    <table class="table table-bordered table-striped mt-4 bg-white shadow-lg">
        <thead>
            <tr class="bg-info">
                <th>Session ID</th>
                <th>Session Name</th>
                <th>Session Date</th>
                <th>Session Count</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{% if user.title_id %}{{ user.title.title }}{% endif %}</td>
                <td>{{user.surname}} {{user.first_name}}</td>
                <td>{{user.department.name}}</td>
                <td>{{user.session_count}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>
            <h4 class="text-center">No sessions to display.</h4>
        </div>
    {% endif %}
</div>

{% endblock content %}